@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  width : 96%;
  @apply shadow-lg

}

.iconsSection div{
  width:47%;
  @apply text-blue-950
}

.iconsSection div p{
  @apply text-black text-xs mt-3 font-semibold
  
}